<!DOCTYPE html>
<html>

<head>
  <title>CodeUnderstandingQuiz</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<header class="main-header">
  <nav>
    <%= link_to "CodeQuiz", root_path, class: "logo" %>
    <div class="nav-links">
      <%= link_to "投稿一覧", posts_path %>
      <% if user_signed_in? %>
      <%= link_to "新規投稿", new_post_path %>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-button" %>
      <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
    </div>
  </nav>
</header>

<main class="container">
  <% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>">
    <%= message %>
  </div>
  <% end %>
  <%= yield %>
</main>

</html>